@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.login_modal {
  font-family: "Open Sans", sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: calc(100vh - 60px);
}

.centerContainer {
  font-family: "Open Sans", sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: calc(100vh - 60px);
}

.login_modal > h1 {
  margin-top: 48px;
}

.form {
  background: #fff;
  max-width: 360px;
  width: 100%;
  padding: 58px 44px;
  border: 1px solid #e1e2f0;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
}

.animate {
  outline: 0;
  border-color: red;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login_modal .row label {
  font-size: 13px;
  color: #8086a9;
}

.login_modal .row input {
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.login_modal .row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.login_modal .row input::placeholder {
  color: #c8cddf;
}

.login_modal button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  background: #15c39a;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}

.login_modal button:hover {
  background: #55d3ac;
}

@media (max-width: 458px) {
  .login_modal {
    margin: 0 18px;
  }

  .form {
    background: #f9faff;
    border: none;
    box-shadow: none;
    padding: 20px 0;
  }
}

.loginerror {
  padding: 20px;
  font-size: 0.8em;
  color: #ef4e5e;
  display: flex;
  justify-content: center;
  width: 100%;
}
