.loading_button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #fff;
  animation: rotate 1.2s infinite linear;
  position: relative;
  display: inline-flex;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  align-self: center;
}

.load_complete {
  -webkit-animation: none;
  animation: none;
  border-color: #fff;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}

.checkmark:after {
  opacity: 1;
  height: 12px;
  width: 7px;
  transform-origin: left top;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  content: "";
  left: 2px;
  top: 9px;
  position: absolute;
}

.draw:after {
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 7px;
    opacity: 1;
  }
  40% {
    height: 12px;
    width: 7px;
    opacity: 1;
  }
  100% {
    height: 12px;
    width: 7px;
    opacity: 1;
  }
} ;
